# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
#theme: jekyll-theme-so-simple
remote_theme: "mmistakes/so-simple-theme"
# remote_theme: mmistakes/so-simple-theme
# locale: en-US
locale: it-IT
title: "Massimo Caliman's blog"
description: "Computer Science and Data Science"
baseurl: # the subpath of your site, e.g. "/blog"
# url: http://massimocaliman.it 
# the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
logo: /images/logo.jpg # path of site logo, e.g. "/images/logo.png"
date_format: "%B %-d, %Y"
read_time: true # reading time estimates, e.g. true
words_per_minute: 200 # 200
mathjax: true # MathJax equations, e.g. true
google_fonts:
  - name: "Source Sans Pro"
    weights: "400,400i,700,700i"
  - name: "Lora"
    weights: "400,400i,700,700i"
google_analytics: UA-53230757-1 # Google Analytics id, e.g. "UA-NNNNNNNN-N"
disqus:
  shortname: mcaliman # Disqus shortname, e.g. "my_disqus_shortname"
twitter:
  username: mcaliman # site's Twitter username, e.g. "mmistakes"

# Liquid
liquid:
  error_mode: strict

# Build settings
permalink: /:categories/:title/
markdown: kramdown
feed:
  path: atom.xml

# Pagination - https://jekyllrb.com/docs/pagination/
# paginate: 10
# paginate_path: /page:num/
pagination:
     enabled: true
     per_page: 3
     title: ':title - page :num'
     limit: 0
     trail: 
        before: 2
        after: 2     


# Search
search_full_content: true # false # can have performance implications for large sites

# Taxonomy pages
# category_archive_path: "/categories/#"
# tag_archive_path: "/tags/#"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
#  - jekyll-paginate
  - jekyll-paginate-v2

# Front Matter Defaults
defaults:
  # Posts defaults
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      share: true

# Site Author
author:
  name: Massimo Caliman
  picture: /images/logo.jpg
  email: mcaliman@gmail.com
  twitter: mcaliman
  links:
    - title:
      url:
      icon:

copyright: "© Copyright 1999-2018 Massimo Caliman - All Rights Reserved.
Questo sito non rappresenta una testata giornalistica, in quanto viene aggiornato senza alcuna periodicità.
Non può pertanto considerarsi un prodotto editoriale ex L.62 7/3/2001."

# Footer Links
footer_links:
  - title: Feed
    url: atom.xml
    icon: fas fa-rss-square
  - title: GitHub
    url: https://github.com/mcaliman
    icon: fab fa-github
  - title: Twitter
    url: https://twitter.com/mcaliman
    icon: fab fa-twitter
  - title: Linkedin
    url: https://www.linkedin.com/in/mcaliman/
    icon: fab fa-linkedin-in 
  - title: Mail
    url: mailto:mcaliman@gmail.com
    icon: fas fa-at 
      