{%- if site.footer_scripts -%}
  {%- for script in site.footer_scripts -%}
    {%- if script contains "://" -%}
      {%- capture script_path %}{{ script }}{% endcapture -%}
    {%- else -%}
      {%- capture script_path %}{{ script | absolute_url }}{% endcapture -%}
    {%- endif -%}
    <script src="{{ script_path }}"></script>
  {%- endfor -%}
{%- else -%}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%- endif -%}


{% if site.mathjax %}
<!-- MathJax -->
{% capture mathjaxjs %}https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js{% endcapture %}
<script>
// http://docs.mathjax.org/en/latest/upgrading/v2.html
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true,
    tags: "{{ site.mathjax.tags | default: 'ams' }}"
  }
};
</script>

<script type="text/javascript" id="MathJax-script" src="{{ mathjaxjs }}"></script>
{% endif %}

{%- if page.layout == "search" -%}
  {% include lunr-search-scripts.html %}
{%- endif -%}
